/* 
 */
 .banner{
  
  background: rgb(126,20,222);
  background: linear-gradient(90deg, #9AB7D3 10%, #F7E1D3 72%, #DFCCF1 94%);

 }
 /* .object {
  animation: MoveUpDown 2s linear infinite ;
  
  left: 0;
  bottom: 0;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 20px;
  }
  /* slow */
   

