.noFounderr {
    background-image: url(https://img.lovepik.com/free-png/20220126/lovepik-404-error-prompt-png-image_401803273_wh1200.png);

    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
}